# VS Code
.vscode/
*.code-workspace

# build artifacts
*.json
!infra/bicep/**/*.json
!webserver/package.json
!webserver/package-lock.json

# Node.js dependencies
webserver/node_modules/

# OS junk
Thumbs.db
Desktop.ini
